@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
	--border-2: 2px solid #f5f3f0;
	--btn-bg: #f0eee8;
	--border-radius: 34px;
	--gap-6: 6px;
}

body {
	font-family: var(--font-mena);
	background-color: #f9f8f6;
}

.f-p22 {
	font-family: var(--font-p22);
}
.f-p22Italic {
	font-family: var(--font-p22Italic);
}
.f-satoshi {
	font-family: var(--font-satoshi);
}

.font-mena800 {
	font-family: var(--font-mena800);
}
.f-satoshi-bold {
	font-family: var(--font-satoshi-bold);
}
.f-satoshi-medium {
	font-family: var(--font-satoshi-medium);
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}


.gradient-text {
	background: linear-gradient(
		90deg,
		#ed8796 0%,
		#f5a97f 18.45%,
		#c6a0f6 41.22%,
		#91d7e3 74.24%,
		#a6da95 100%
	);
	-webkit-background-clip: text; /* For WebKit browsers (Chrome, Safari, etc.) */
	background-clip: text;
	color: transparent; /* Make the text itself transparent so that only the gradient shows */
}

.name {
	line-height: 52.8px;
}

.identity li {
	color: #464229;
	line-height: 19.04px;
}

.divider {
	height: 18px;
	width: 1px;
	background-color: #f0eee8;
	border-radius: 24px;
}
.divider-2 {
	width: 1px;
	background-color: #f0eee8;
	border-radius: 24px;
}

.responsive {
	width: 90%;
	margin: 0 auto;
}

.break-ellipsis {
	max-width: 342px; /* Set your desired max width here */
	white-space: nowrap; /* Prevent the text from wrapping onto multiple lines */
	overflow: hidden; /* Hide any overflowed content */
	text-overflow: ellipsis; /* Add ellipsis (...) when the text overflows */
	word-break: break-all; /* Break long words when necessary */
  }
  
.slider img {
	border-radius: 12px;
	/* width: 342px;
  /* height: 192px; */
	/*object-fit: contain; */
}

.utility-links li a {
	border: 2px solid #f5f3f0;
	background-color: #f0eee8;
	padding: 6px 16px;
	border-radius: 34px;
	display: flex;
	gap: 6px;
	font-family:var(--font-p22);
}
.utility-links li a:hover {
	opacity:0.7;
}
.c-menu {
	border: 2px solid #f5f3f0;
	background-color: #f0eee8;
	padding: 6px 16px;
	border-radius: 34px;
	display: flex;
	gap: 6px;
	width: max-content;
	align-items: center;
}

.slant-divider {
	width: 2px;
	height: 22px;
	background-color: #f0eee8;
	transform: rotate(30deg);
}

.dropdown-link {
	color: #9b9b9b;
	font-family: var(--font-p22);
	font-weight: 400;
	font-size: 12px;
	line-height: 14.28px;
}
.cop-dropdown-link {
	color: #9b9b9b;
	font-family: var(--font-p22);
	font-weight: 400;
	font-size: 14px;
	line-height: 14.28px;
}
.dropdown-mobile button{
	color: #9b9b9b;
	font-family: var(--font-p22);
	font-weight: 400;
	font-size: 16px;
	line-height: 19.04px;
}
.dropdown-active {
	color: #333333;
	font-family: var(--font-p22);
	font-weight: 400;
	font-size: 16px;
	line-height: 23.2px;
}

.desktop-dropdown {
	display: none;
}

.tooltip{
	position: relative;
	cursor: pointer;
}

.tooltip .tooltip-text{
	visibility: hidden;
  max-width: 681px;
  
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
	top: 100%;
  left: 50%;
  margin-left: -60px;

	/* design */
	border: 1px solid #F0EEE8;
font-size: 15px;
font-weight: 400;
line-height: 19.5px;
text-align: left;
background-color: transparent;
  color: #232323;

}

.tooltip:hover .tooltip-text {
  visibility: visible;
}
@media screen and (min-width: 768px) {
	.desktop-dropdown {
		display: block;
	}
	.mobile-dropdown {
		display: none;
	}
	.responsive {
		width: 680px;
	}
	.c-md-responsive {
		width: 680px;
		margin: 0 auto;
	}

	.break-ellipsis {
		max-width: 680px;
	}

	/* .slider img{
    width: 521px;;
  } */
}



.blur-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  height: 50px; 
  pointer-events: none; 
  backdrop-filter: blur(5px); 
  z-index: 10; 
  /* background: transparent; */


  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%); */

  /* background: linear-gradient(to bottom, rgba(249, 248, 246, 0) 0%, rgba(249, 248, 246, 1) 80%); */

}

 .layer-1 {
	top: -10px; /* Offset up */
	left: -10px; /* Offset left */
	backdrop-filter: blur(10px);
	opacity: 0.3;
  }

.progress {
	width: 300px;
	height: 7px;
	border-radius: 35.2px;
	background: #F0F0F0;
	backdrop-filter: blur(50px); /* Apply a blur effect to the background */
 /*    background: linear-gradient(90deg, #ED8796 0%, #F5A97F 18.45%, #C6A0F6 41.22%, #91D7E3 74.24%, #A6DA95 100%); Apply your gradient */
  
 /*    border: 3.5px solid #F0F0F0; */
	position: relative;
 }
 
 .progress::before {
	content: "";
	position: absolute;
 /*    margin: 3.5px; */
	inset: 0 20% 0 0;
	border-radius: inherit;
	background: linear-gradient(90deg, #ED8796 0%, #F5A97F 18.45%, #C6A0F6 41.22%, #91D7E3 74.24%, #A6DA95 100%); 
   
	animation: progress-pf82op 2.8s infinite;
 }
 
 @keyframes progress-pf82op {
	100% {
	   inset: 0;
	}
 }

 .progress-blur {
	position: relative;
	width: 250px;
	  height: 7px;
  }
  .progress-blur::before {
	content: "";
	position: absolute;
	inset: -10px; 
	z-index: -1; 
	filter: blur(40px); 
	background: linear-gradient(90deg, #ED8796 0%, #F5A97F 18.45%, #C6A0F6 41.22%, #91D7E3 74.24%, #A6DA95 100%);
	transform: translate(10px, -8px);
  }
  
  @media screen and (min-width: 375px){
	.progress-blur {
		width: 300px;
	  }

	.progress {
		width: 350px;
	  }

  }

  .spinningImg{
	animation: spinImg 2s linear infinite;
  }

  @keyframes spinImg{
	from{
		transform: rotate(0deg);
	} 
	to{
		transform: rotate(260deg);
	}
  }

  @keyframes swing {
	0% {
	  transform: rotate(0deg); /* Start from center (no rotation) */
	}
	25% {
	  transform: rotate(15deg); /* Swing 15 degrees clockwise */
	}
	50% {
	  transform: rotate(0deg); /* Return to center */
	}
	75% {
	  transform: rotate(-15deg); /* Swing 15 degrees counterclockwise */
	}
	100% {
	  transform: rotate(0deg); /* Return to center */
	}
  }

  .spinning-box {
	width: 78px;
	height: 90px;
	position: relative;
	right: -1.2rem;
	overflow: hidden;
  }


  @media screen and (max-width:425px){
	.break-music {
		max-width: 150px; /* Set your desired max width here */
		white-space: nowrap; /* Prevent the text from wrapping onto multiple lines */
		overflow: hidden; /* Hide any overflowed content */
		text-overflow: ellipsis; /* Add ellipsis (...) when the text overflows */
		word-break: break-all; /* Break long words when necessary */
		transition: opacity 0.3s ease-out;
	}
  }

  .slide-two{
	opacity: 0;
  }

.tgt-slide{
	filter: blur(0px); 
	transition: opacity 0.3s ease-out;
	opacity: 0;
}

.list-slide{
	opacity: 0;
}

.title-slide{
	opacity: 0;
}

.title-slideIn{
	animation: RowSlideIn 1s ease-in-out forwards;
}

.slide-in{
	animation: slideIn 0.5s ease-in forwards;
}
.menu-slide-in{
	animation: slideIn 0.2s ease-in forwards;
}

.c-animate{
	animation: fadeIn 0.5s ease-in forwards;
}

.image-view{
	opacity: 0;
	position: relative;
}
.i-animate{
	animation: RowSlideIn 0.5s ease-in forwards;
}

@keyframes fadeIn{
	from{
		opacity:0;
		transform: translateY(50px);
	}
	to{
		opacity: 1;
		transform: translateY(0px);

	}
}
@keyframes RowSlideIn{
	from{
		opacity:0;
		transform: translateX(-50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);

	}
}

@keyframes slideIn{
	0% {
		filter: blur(2px);
		transform: translateY(10px);
		opacity: 0;
	  } 
	  100% {
		filter: blur(0px);
		transform: translateY(0px);
		opacity: 1; 
	  }
}

.svg-area {
    border-radius: 50%;
}


#core {
    fill: #0A231D;
/*     animation: pulse1 1.5s ease-in infinite; */
}

#radar {
    fill: #8AA7A0; 
    animation: pulse2 1.5s ease-in-out infinite;
}

@keyframes pulse1 {
    0% {
        opacity: 0.5; 
        transform: scale(1); 
    }

    30% {
        opacity: 1; 
        transform: scale(1.5); 
    }

    60% {
        opacity: 1; 
        transform: scale(2); 
    }

    100% {
        opacity: 0.5; 
        transform: scale(0.5); 
    }
}

@keyframes pulse2 {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(6); 
        opacity: 0;
    }
}

.dropdown-slide{
	animation: slideIn 0.3s ease-in forwards;
}

.modal-image-container {
	max-width: 842px; /* Adjust as needed */
	margin: 0 auto;   /* Center the image in the container */
	background-color: #020202;
  }

  /* Hide scrollbar for larger screens */
@media (min-width: 768px) {
	.hide-scrollbar {
	  -ms-overflow-style: none; /* Internet Explorer 10+ */
	  scrollbar-width: none; /* Firefox */
	}
	.hide-scrollbar::-webkit-scrollbar {
	  display: none; /* Chrome, Safari, Opera */
	}
  }
  

 
  
  .expanded {
	max-width: auto; 
	animation: TslideIn 0.8s ease-out forwards;
  }

  @keyframes TslideIn{
	0% {
		/* filter: blur(2px); */
		/* transform: translateY(2px); */
		opacity: 0;
	  } 
	  100% {
		/* filter: blur(0px); */
		/* transform: translateY(0px); */
		opacity: 1; 
	  }
}

/* Prevent body from scrolling */
.no-scroll {
	overflow: hidden;
  }
  


  
  @keyframes scroll {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(-50%); /* Adjust based on the width of your image set */
	}
  }
  

  @keyframes scroll {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(-calc(170px * 5)); /* Width of one image + gap, multiplied by number of images */
	}
  }
  
  .animate-scroll {
	display: flex;
	animation: scroll 10s linear infinite;
	will-change: transform;
  }
  
  @keyframes scroll {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(-50%); /* Adjust based on the width of your image set */
	}
  }
  

  @keyframes scroll-two {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(-calc(170px * 5)); /* Width of one image + gap, multiplied by number of images */
	}

	0% {
		transform: translateX(0);
	  }
	  100% {
		transform: translateX(-calc(170px * 5)); /* Width of one image + gap, multiplied by number of images */
	  }
	  0% {
		transform: translateX(0);
	  }
	  100% {
		transform: translateX(calc(170px * 5)); /* Positive value for right-to-left scroll */
	  }
  }
  
  .animate-scroll-two {
	display: flex;
	animation: scroll 10s linear infinite reverse;
	will-change: transform;
  }
  